.card-img{
    background-image: url(../../../images/quote_1.svg);
    background-repeat: no-repeat;
    font-size: 23px;
    border-left: 3px solid #B07AB4;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #8889ac;

}

.background{
    background-image: url('../../../images/row-bgimage-01.jpg');
}