.signupBG{
    background-image: url('../../../images/loginImage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 50%;
    height: 80vh;
}